{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<br> 
        <br>
        <br> 
        <br>
    <center>
    <div class="col-md-4 align-content-start">
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
        <label>{{ field.label }}</label> 
        <br>
        {{ field }} 
        <br> 
        <br>  
        {% endfor %}
        <br>
        <button type="submit" class="btn btn-outline-primary">Submit</button>
    </form>
    </div>
    </center>


    <br>
        <br> 
        <br>
{% endblock content %}